# Control Panel Secret
# Used to protect the /control page
CONTROL_SECRET=your_secret_here
BACKEND_URL=http://localhost:5555
REDIS_URL=redis://localhost:6379/0
SESSION_FERNET_KEY=
SUNO_SESSION_ID_PATH=.data/suno_session.txt
FLASK_DEBUG=false
